---
layout: archive
title: "Hobby"
permalink: /hobby/
author_profile: true

image-slider: /images/hobby-images/slider-images/c.jpg

sliderData:
- image: "/images/hobby-images/slider-images/c.jpg"
  caption: "Golden Time"
- image: "/images/hobby-images/slider-images/moorie.jpg"
  caption: "Tuesdays with Moorie"
- image: /images/hobby-images/slider-images/control.jpg
  caption: Control is an illusion
- image: /images/hobby-images/slider-images/framed.jpg
  caption: Framed
- image: /images/hobby-images/slider-images/para.jpg
  caption: Parasailing
- image: /images/hobby-images/slider-images/mumbai.jpg
  caption: Mumbai: City of Dreams
- image: /images/hobby-images/slider-images/fly_bird.jpg
  caption: Free Like a Bird
- image: /images/hobby-images/slider-images/face.jpg
  caption: Portrait
- image: /images/hobby-images/slider-images/reflect.jpg
  caption: Reflecting True Identity
   



---

{% include base_path %}


<!-- {% for post in site.hobby %}
  {% include archive-single.html %}
{% endfor %} -->
Sample html

{% include hobby-flexslider.html %}
