---
layout: archive
title: "Hobby"
permalink: /hobby/
author_profile: true

image-slider: /images/hobby-images/slider-images/c.jpg

sliderData:
- image: "/images/hobby-images/slider-images/c.jpg"
  caption: "Golden Time"
- image: "/images/hobby-images/slider-images/moorie.jpg"
  caption: "Tuesdays with Moorie"
- image: /images/hobby-images/slider-images/control.jpg
  caption: Control is an illusion
- image: /images/hobby-images/slider-images/framed.jpg
  caption: Framed
  
---

{% include base_path %}


<!-- {% for post in site.hobby %}
  {% include archive-single.html %}
{% endfor %} -->
Sample html

{% include hobby-flexslider.html %}
