<!-- <div>
  	<div class="home-title">
    	<h3>Recent Posts</h3>
  	</div>
	<div class="flexslider">
		<ul class="slides">
	  		{% for page in site.categories.blog %}
	  		<li>
	  			<a href="{{ site.url}}{{ page.permalink }}">
		    		<img src="{{ page.image-slider }}">
		    		<p class="flex-caption">{{ page.excerpt }}</p>
		    	</a>
	 		</li>
	  		{% endfor %}
		</ul>
	</div>
	<p style="text-align: center"><a href="{{ site.url }}/posts-page">See All Posts</a></p>
</div> -->


<div>
	<div class="flexslider flex-design">
		<ul class="slides">
	  		{% for page in site.hobby %}
	  		<li data-thumb="{{ page.image-slider }}">
	  			<a href="{{ site.url}}{{ page.permalink }}">
		    		<img src="{{ page.image-slider }}">
		    		<hr>
		    		<p class="flex-caption-title">{{ page.title }}</p>
		    		<p class="flex-caption">{{ page.excerpt }}</p>
		    	</a>
	 		</li>
	  		{% endfor %}
		</ul>
	</div>
</div>
