<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
<!-- {% include flexslider-posts.html %} -->


<!-- Flexslider Scripts
=================================================-->
	<!-- Google CDN Hosted jQuery  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- Flexslider Library  -->
	<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
	<!-- Initialisation Code  -->
	<script src="/assets/js/app.js"></script>
